.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.framed {
  border: 3px solid #666;
  padding-bottom: 3rem;
}

.bg-box {
  background-color: #85BAA1;
  border-radius: 5px;
  box-shadow: 0 0 5px #85BAA1,
  0 0 25px #85BAA1,
  0 0 50px #85BAA1,
  0 0 100px #85BAA1;
}

.inner-bg {
  background-color: white;
  border-radius: 5px;
}

.styled {
  box-shadow: 5px 5px 10px 0px #0000007d;
  border-radius: 5px;
}

.react-swiftreveal .row>* {
  padding-left: 0;
  padding-right: 0;
}

input {
  width: -webkit-fill-available;
}

form {
  display: grid;
  justify-content: stetch;
}